# Backend Nest
PORT=3001
FRONTEND_URL=http://localhost:3000,http://localhost

# Directus
DIRECTUS_URL=http://localhost:8055
DIRECTUS_TOKEN=

# Colecciones Directus
DIRECTUS_COLLECTION_PRODUCTS=products
DIRECTUS_COLLECTION_BLOG=blog
DIRECTUS_COLLECTION_TESTIMONIALS=testimonials
DIRECTUS_COLLECTION_LEADS=leads
